<!-- LOGO -->
<a data-link="index.html" class="logo">
    <img data-src="assets/incan_logo.svg" alt="Incancelables">
</a>

<!-- BOTÓN CAMBIO DE TEMA -->
<button id="theme-toggle" class="theme-btn">
    <img id="theme-icon" data-src="assets/icons/sun.svg" alt="Cambiar tema">
</button>

<!-- BOTÓN MENÚ MÓVIL -->
<button class="menu-btn">
    ☰
</button>

<!-- MENÚ DE NAVEGACIÓN -->
<nav class="nav">

    <a data-link="index.html">
        Inicio
    </a>

    <a data-link="pages/musica.html">
        Música
    </a>

    <a data-link="pages/shows.html">
        Shows
    </a>

    <!-- <a data-link="pages/integrantes.html">
        Integrantes
    </a> -->

    <a data-link="pages/contacto.html">
        Contacto
    </a>

</nav>