:root {
    --bg: #24284e;
    --bg-alt: #313764;
    --bg-dark: #1f223f;
    --accent: #d8830f;
    --text: #ffffff;
    --overlay: rgba(0, 0, 0, 0.45);
    --cat-v1: #fe019a;
    /* --cat-v2: #ff0090; */
    --cat-v2: #EE00FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}



/* ==========================
   ELEMENTOS GENERALES
   ========================== */

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

h2 {
    padding: 1rem;
    text-align: center;
}

/* ==========================
   HEADER
   ========================== */

.header {
    grid-area: header;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--bg-dark);

    z-index: 1000;
}

.logo {
    width: clamp(250px, 45vw, 350px);
    height: auto;

    color: var(--accent);

    position: relative;
    top: 15px;
}

.logo img {
    width: 100%;
    height: auto;
    /* padding-left: 1rem; */
}

.menu-btn {
    border: none;
    background: none;

    color: var(--accent);

    font-size: 3rem;

    cursor: pointer;
}

.nav {
    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    background: var(--bg-dark);

    display: none;

    flex-direction: column;
}

.nav.active {
    display: flex;
}

.nav a {
    color: var(--text);
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: var(--accent);
    transform: translateX(8px) scale(1.5);
}

.btn {
    display: inline-block;

    padding: .8rem 1.5rem;

    background: var(--accent);

    color: var(--text);

    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.btn:active {
    background: var(--text);

    color: var(--accent);
}

/* ==========================
   call-to-action
   ========================== */

.call-to-action {
    color: var(--cat-v2);
    font-weight: bold;
    display: inline-block;

    transition: all 0.3s ease;
}

.call-to-action:hover {
    color: var(--text);
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--cat-v1);
    transform: translateY(-5px) scale(1.8);
    -webkit-transform: translateY(-5px) scale(1.8);
    -moz-transform: translateY(-5px) scale(1.8);
    -ms-transform: translateY(-5px) scale(1.8);
    -o-transform: translateY(-5px) scale(1.8);
}

.call-to-action:active {
    color: var(--cat-v2);
    text-shadow: 0 0 10px var(--text)
}

/* ==========================
   FOOTER
   ========================== */

footer {
    grid-area: footer;

    color: var(--accent);

    text-align: center;

    padding: 2rem;

    background: var(--bg-dark);
}

.w3c-validations {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.w3c-validations img {
    height: 31px;
    width: auto;

    padding: 0.1rem;

    mix-blend-mode: luminosity;
    opacity: 0.4;
}

/* ==========================
   TABLET
   ========================== */

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .nav {
        position: static;

        display: flex;

        flex-direction: row;

        gap: 1rem;

        width: auto;

        background: none;
    }

    .nav a:hover {
        transform: translateY(-4px);
    }
}

/* ==========================
   DESKTOP
   ========================== */

@media (min-width: 1024px) {
    p {
        font-size: 1.5rem;
    }
}

/* ==========================
   DESKTOP GRANDE
   ========================== */

@media (min-width: 1440px) {}