.layout {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 1fr;

    grid-template-rows:
        auto 1fr auto;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ==========================
   MAIN
   ========================== */

.main {
    grid-area: main;

    background-color: var(--bg);

    display: grid;

    grid-template-columns: 1fr;

    gap: 1rem;

    grid-template-areas:
        "hero"
        "manifiesto"
        "ultimo-lanzamiento"
        "proximo-show"
        "seguinos-whats";
}

/* ==========================
   HERO
   ========================== */

.hero {
    grid-area: hero;
    min-height: unset;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;

    mix-blend-mode: luminosity;
    opacity: 0.7;
}

/* ==========================
   MANIFIESTO
   ========================== */

.manifiesto {
    grid-area: manifiesto;

    display: flex;
    flex-direction: column;
}

.manifiesto h1 {
    padding: 2rem;

    color: var(--text);

    text-align: center;
}

.manifiesto p {
    padding: 0.5rem 2rem;

    color: var(--text);
}

/* ==========================
   ULTIMO LANZAMIENTO
   ========================== */

.ultimo-lanzamiento {
    grid-area: ultimo-lanzamiento;
    background-color: var(--bg-alt);
    color: var(--text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "titulo"
        "texto"
        "imagen";
    text-align: center;
}

.ultimo-lanzamiento h2 {
    grid-area: titulo;
}

.lanzamiento-texto {
    grid-area: texto;
    margin: 1rem;
    text-align: center;
}

.lanzamiento-disco {

    grid-area: imagen;
    display: grid;
    justify-items: center;
}


.lanzamiento-disco img {
    width: 180px;
    max-width: 100%;
    margin: 1rem;

}

/* ==========================
   PROXIMO SHOW
   ========================== */

.proximo-show {
    grid-area: proximo-show;
    background-color: dvar(--bg);
    color: var(--text);
}

/* ==========================
   SEGUINOS WHATSAPP
   ========================== */

.seguinos-whats {
    grid-area: seguinos-whats;
    text-align: center;
    padding: 1rem;

    background-color: var(--bg-alt);
}

/* ==========================
   TABLET
   ========================== */

@media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }

    .ultimo-lanzamiento {
        grid-template-columns: auto auto;
        grid-template-areas:
            "titulo titulo"
            "texto imagen";

        align-items: center;
        gap: 1rem;
    }

    .ultimo-lanzamiento h2 {
        grid-area: titulo;
        text-align: center;
    }

    .lanzamiento-texto {
        grid-area: texto;
        text-align: center;
    }

    .lanzamiento-texto p {
        margin: 2rem;
    }

    .lanzamiento-disco {
        justify-self: center;
    }

    .lanzamiento-disco img {
        grid-area: imagen;
        width: 500px;
    }
}

/* ==========================
   DESKTOP
   ========================== */

@media (min-width: 1024px) {}

/* ==========================
   DESKTOP GRANDE
   ========================== */

@media (min-width: 1440px) {}