/* ==========================
   LAYOUT PRINCIPAL
   ========================== */
.layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows:
        auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ==========================
   MAIN
   ========================== */

.main {
    grid-area: main;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
        "hero"
        "manifiesto"
        "ultimo-lanzamiento"
        "proximo-show"
        "seguinos-whats";
}

/* ==========================
   HERO
   ========================== */

.hero {
    grid-area: hero;
    min-height: unset;
}

/* Oculta contenido visualmente pero lo mantiene accesible para lectores de pantalla */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Imagen principal */
.hero img {
    width: 100%;
    height: auto;
    display: block;
    mix-blend-mode: luminosity;
    opacity: 0.7;
}

/* ==========================
   MANIFIESTO
   ========================== */

.manifiesto {
    grid-area: manifiesto;
    display: flex;
    flex-direction: column;
}

/* Título del manifiesto */
.manifiesto h1 {
    padding: 2rem;
    color: var(--text);
    text-align: center;
}

/* Párrafos del manifiesto */
.manifiesto p {
    padding: 0.5rem 2rem;
    color: var(--text);
}

/* ==========================
   ULTIMO LANZAMIENTO
   ========================== */

.ultimo-lanzamiento {
    grid-area: ultimo-lanzamiento;
    background-color: var(--bg-alt);
    color: var(--text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "titulo"
        "texto"
        "imagen";
    text-align: center;
}

/* Título de la sección */
.ultimo-lanzamiento h2 {
    grid-area: titulo;
}

/* Texto descriptivo del lanzamiento */
.lanzamiento-texto {
    grid-area: texto;
    margin: 1rem;
    text-align: center;
}

/* Contenedor de la portada */
.lanzamiento-disco {

    grid-area: imagen;
    display: grid;
    justify-items: center;
}

/* Imagen de la portada */
.lanzamiento-disco img {
    width: 180px;
    max-width: 100%;
    margin: 1rem;

}

/* ==========================
   PROXIMO SHOW
   ========================== */

.proximo-show {
    grid-area: proximo-show;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    background: var(--card);
    color: var(--text-on-card);

    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.proximo-show h2 {
    margin: 0;
    text-align: center;
    color: var(--text-on-card);
}

/* Enlace que contiene la vista previa del show */
.show-preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-decoration: none;
    color: inherit;
}

/* Contenedor de la imagen responsiva */
.show-preview picture {
    display: block;
}

/* Flyer del próximo show */
.show-preview img {
    width: 100%;
    display: block;

    border-radius: 1rem;
    border: 2px solid var(--accent);
    box-shadow: var(--shadow);
}

/* Información del show */
.show-preview-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    text-align: center;
}

/* Elimina márgenes por defecto */
.show-preview-info h3,
.show-preview-info p {
    margin: 0;
}

/* Animación al pasar el mouse */
.show-preview:hover {
    transform: translateY(-4px);
    transition: transform .2s ease;
}

/* ==========================
   SEGUINOS WHATSAPP
   ========================== */

.seguinos-whats {
    grid-area: seguinos-whats;
    text-align: center;
    padding: 1rem;

    background-color: var(--bg-alt);
    color: var(--text);
}

/* ==========================
   TABLET
   ========================== */

@media (min-width: 768px) {

    /* Ajustes para el hero */
    .hero h1 {
        font-size: 4rem;
    }

    /* ==========================
   ULTIMO LANZAMIENTO
   ========================== */
    .ultimo-lanzamiento {
        grid-template-columns: auto auto;
        grid-template-areas:
            "titulo titulo"
            "texto imagen";

        align-items: center;
        gap: 1rem;
    }

    .ultimo-lanzamiento h2 {
        grid-area: titulo;
        text-align: center;
    }

    .lanzamiento-texto {
        grid-area: texto;
        text-align: center;
    }

    .lanzamiento-texto p {
        margin: 2rem;
    }

    .lanzamiento-disco {
        justify-self: center;
    }

    .lanzamiento-disco img {
        grid-area: imagen;
        width: 500px;
    }

    /* ==========================
   PROXIMO SHOW
   ========================== */
    .show-preview {
        gap: 1.25rem;
    }
}

/* ==========================
   DESKTOP
   ========================== */

@media (min-width: 1024px) {}

/* ==========================
   DESKTOP GRANDE
   ========================== */

@media (min-width: 1440px) {}