/*////////////////////////////////////////////////////////////////////////////
MAIN
///////////////////////////////////////////////////////////////////////////*/
.main {
    background-color: var(--bg-alt);
    color: var(--text);
    display: grid;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}

.proximo-show img {
    border-radius: 16px;
    border: 2px solid var(--accent);
    box-shadow:
        0 20px 50px rgba(0, 0, 0, .45);
}

.historial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-card {
    display: grid;
    gap: 1rem;
    background: var(--card);
    max-width: 80vw;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

}

.show-card:hover {
    transform: translateY(10px) scale(110%);
}

.show-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

.show-info {
    color: var(--bg-dark);
    text-align: center;
}

.show-info a {

    display: inline-block;

    margin-top: 1rem;
}

/*////////////////////////////////////////////////////////////////////////////
ASIDE
///////////////////////////////////////////////////////////////////////////*/
.aside {
    color: var(--text);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 1rem;
    margin: 1rem;
}

/* ==========================
   TABLET
   ========================== */
@media(min-width:768px) {

    .show-card {

        grid-template-columns: 300px 1fr;

        align-items: center;

    }

    .show-info {
        text-align: left;
    }

}

/* ==========================
   DESKTOP
   ========================== */
@media (min-width: 1024px) {}

/* ==========================
   DESKTOP GRANDE
   ========================== */
@media (min-width: 1440px) {}